*, *:before, *:after {
    box-sizing: border-box;
}

:root{
    --text-color: #565656;
    --primary-color: #008AD8;
}

body{
    margin: 0;
    background-color: F4F4F4;
    font-family: 'Lexend Deca', sans-serif;
}

.container{
    margin: 2.8em;
}

h1{
    margin-bottom: 0;
}

.headline p{
    color: var(--text-color);
}